.nav {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    list-style: none;
    padding-top:10px;
  }
  
  .navbar .hamburgericon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .hamburgericon .line {
    width: 10%;
    height: 2px;
    background-color: #000;
    margin-bottom: 6px;
    margin-top:10px;
  }
  
  /* Styles for the open state of the hamburger menu */
  .hamburgericon.open .line:first-child {
    transform: translateY(15px) rotate(40deg);
  }
  
  .hamburgericon.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburgericon.open .line:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .navitem {
    gap:20px;
    display:flex;
    position:relative;
    
  }