@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
  grid-gap: 20px; /* space between images */
}

/* You can modify these classes if you need some specific styles for specific items. */
.gallery__item {
  background-size: cover;
  background-position: center;
  height:300px;
  width:auto;

}

.gallery__caption {
  text-shadow: 2px 2px 4px #000000;

  color: white;  /* Assuming you want white text over images, adjust as needed */
}

.homeheadwrapper {
  background-image: url('/library.jpg');
  height:750px;
  width:100%;
  background-size:cover;
}

.homeheadhead {
  text-shadow: 2px 2px 4px #000000;

}

.formwrapper {
  background-color: rgba(255, 255, 255, 1);
  height:400px;
}
.headbg {
  height:500px;
  background-size:cover;
}

.mobile {
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.twoimoen {
  position: relative;
}

.twoimoen img {
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.twoimoen div {
  position: absolute;
  right: -100%; /* Initially offscreen */
  transition: right 0.5s ease-in-out;
}

.twophoto {
  width:500px;
  height:500px;
  background-image: url('/library.jpg');
  background-size:cover;
}
.currentimage {
  width:100px;
  height:auto;
}
@media screen and (max-width: 1000px) {
.homehead {
  display:flex;
  flex-direction:column;
}

.gallery {
grid-template-columns: repeat(1, 1fr); /* Creates 4 equal columns */
  grid-gap: 20px;
}
.righttextcontainer {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top:50px;
}

.lefttextcontainer {
  margin-bottom:50px;
}

.iconcontainer {
  grid-template-columns: repeat(1, 1fr) !important;
  grid-gap: 20px;
  margin-left:150px;
    margin-right:200px;

}

.conwrap {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:0px;
  position:relative;
  z-index:1;
}

.contextwrap {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:0px;
  
}

.navigation {
  position:relative;
  
}

.navbar {
  position:relative;
}

.leftphotoimg {
width:100%;

}
.leftimgcontain {
  width:100%;
}

.spacepageheadwrap {
  flex-direction:column;
}
}

.stage {
  display:flex;
}



.closetcall {

  background-color:green;
}