@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
  grid-gap: 20px; /* space between images */
}

/* You can modify these classes if you need some specific styles for specific items. */
.gallery__item {
  background-size: cover;
  background-position: center;
  height:300px;
  width:auto;

}

.gallery__caption {

  color: white;  /* Assuming you want white text over images, adjust as needed */
}