@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
  grid-gap: 20px; /* space between images */
}

/* You can modify these classes if you need some specific styles for specific items. */
.gallery__item {
  background-size: cover;
  background-position: center;
  height:300px;
  width:auto;

}

.gallery__caption {
  text-shadow: 2px 2px 4px #000000;

  color: white;  /* Assuming you want white text over images, adjust as needed */
}

.homeheadwrapper {
  background-image: url('/library.jpg');
  height:750px;
  width:100%;
  background-size:cover;
}

.homeheadhead {
  text-shadow: 2px 2px 4px #000000;

}

.formwrapper {
  background-color: rgba(255, 255, 255, 0.49);
  height:400px;
}